body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Comic Relief', cursive;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}
h2{
    color: #4A281C;
    margin-top: 100px;
    margin-bottom: 0px;
}
img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    position: relative;
    z-index: 1;
}
#yes{
    transition: transform 0.4s ease;
    background-color: #BCD772;
    color: white;
    margin-right: 10px;
    z-index: 10;
    transition: transform 0.3s ease;
}
#no{
    background-color: #FE7171;
    color: white;
    margin-left: 5px;
    z-index: 5;
}

div{
    margin-top: -5px;
    margin-bottom: 0px;
    position: relative;
}
button{
    border: none;
    cursor: pointer;
    font-family: 'Comic Relief', cursive;
    font-weight: 700;
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 1000px;
    transition: all 0.3s ease;
}
#no:hover, #yes:hover{
    box-shadow: inset 0 0 0 3px#4A281C;
    background-color: white;
    color: #4A281C;
}
.container{
    overflow: visible;
}
.btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.slot {
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}